<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Delete</h1>
		
	<table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			
		</tr>

	<% for(var i=0; i < users.length; i++){ %>

		<tr>
			<td><%= users[i].id %></td>
			<td><%= users[i].username %></td>
			
			<td> 
				<a href="/admin/del/<%= users[i].id %>">Delete</a> 
			</td>
		</tr>
	<% } %>

	</table>


</body>
</html>