<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
</head>
<body>

<fieldset>
	<legend>Admin Homepage</legend>
	<table>
		<tr>
		<td></td>
		<td><a href="/admin/edit/<%= user.username %>">Edit Profile Information</a></td>
		<td><a href="/admin/delete">Remove profile</a></td>
		<td><a href="">Authorize</a></td>
		<td><a href="">Add restaurant</a></td>
		</tr>
	</table>
</fieldset>
</body>
</html>