<!DOCTYPE html>
<html>
<head>
	<title>Admin Home</title>
</head>
<body>

<fieldset>
	<legend>Admin Homepage</legend>
	<table>
		<tr>
		<td><a href="/admin/edit">Edit Profile Information</a></td>
		</tr>
	</table>
</fieldset>
</body>
</html>